notes/
.DS_Store
/vendor/
/wp/
wp-config.php
/content/*
!/content/themes/
/content/themes/*
!/content/themes/ocooking
!/content/themes/ocooking-child
!/content/plugins/
/content/plugins/*
!/content/plugins/ocooking-settings
!/content/uploads/